@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    background-color:  rgb(4, 4, 19); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: -1px -1px 10px 0px #cac7c7;
    padding-bottom: 20px;
}
.title{
    color: rgb(16 16 78);
    font-size: 30px;
    padding: 20px 0px;
    font-family: cursive !important;
}
.notification{
    padding: 10px 15px;
    color: darkred;
    background-color: rgb(250, 170, 170);
    display: none;
}
.weather-icon img{
    width: 50%;
}
.temperature p{
    font-size: 60px;
    color: rgb(16 16 78);
    font-weight: bolder;
    margin: -10px 0px 20px 0px;
    cursor: pointer;
}
.temperature p span {
    font-size: 40px
}
.temperature-description{
    margin-top: -20px;
    font-size: 20px !important;
 
}
.temperature-description, .location{
    color: rgb(16 16 78);
    font-weight: bold;
}
.location{margin-top: 20px;font-size: 14px;}


@media only screen and (min-width: 600px){
    .container{
        width: 45%;
    }
}
@media only screen and (min-width:1000px){
    .container{
        width: 25%;
    }
}